useDynLib(aucm, .registration = TRUE)


export(plot.rauc, nsv.rauc, nsv, vcov.rauc) 

export(ramp.f, phi.f, logistic.f, dcsauc.f)

export(rlogit, coef.rlogit, ratio.rlogit, predict.rlogit, trainauc.rlogit)
export(grid.auc, eauc, plot.gridsearch, vcov.gridsearch) 
export(sauc.phi, vcov.sauc) 
export(rauc, minQuad, print.minQuad, control.minQuad) 
export(dcsauc, smooth.rauc, srauc, auc.dca)


export(getQ, get.X.diff, get.X.diff.formula, get.X.diff.default)


export(sim.dat.1, skin.orange, sim.disc, sim.ring, sim.d20c, sim.easy, sim.MH1, sim.MH11, sim.MH2, sim.YH1, sim.YH2, sim.p1, sim.pepe.2, sim.mix, sim.NL) 

S3method(vcov, sauc)
S3method(vcov, rauc)
S3method(nsv, rauc)
S3method(plot, rauc)

S3method(trainauc,rlogit)
S3method(vcov,gridsearch)
S3method(ratio,rlogit)
S3method(print,minQuad)
S3method(predict,rlogit)
S3method(plot,gridsearch)
S3method(get.X.diff,formula)
S3method(get.X.diff,default)
S3method(coef,rlogit)

import(kyotil)

  importFrom("graphics", "abline", "lines", "plot", "points")
  importFrom("stats", "as.formula", "binomial", "coef", "dnorm", "glm",
             "model.frame", "model.matrix", "nlminb", "optim",
             "optimize", "pnorm", "predict", "quantile", "rnorm", "rt",
             "runif", "sd", "terms")
             
